<div id="<%= dom_id product %>", class="d-flex border">
  <div class="ms-2 mt-2 shadow mb-2">
    <p>
      <%= image_tag product.image_url, size: "150x250" %>
    </p>
  </div>
  <div class="ms-3">
    <p>
      <%= product.title %>
    </p>

    <p class="me-2">
      <%= product.description %>
    </p>
    
    <p class="me-2 mt-5 text-success">
      <strong>Price:</strong>
      <%= number_to_currency(product.price) %>
    </p>
  </div>


</div>
